<div class="modal-header">
    <h3 class="modal-title">
        Modal
    </h3>
</div>
<div class="modal-body">
    <formly-form model="auth.formData.model" fields="auth.formData.fields"
        form="auth.form">
    </formly-form>
    <formly-error-summary fields="auth.formData.fields"
        form="auth.form"></formly-error-summary>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="auth.ok()"
        ng-disabled="auth.form.$invalid">
        OK
    </button>
    <button class="btn btn-default" type="button" ng-click="auth.cancel()">
        Cancel
    </button>
</div>
